<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    Angular CRUD
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let employee of employeeArray" class="list-group-item list-group-item-action" (click)="openForEdit(employee)"
          [class.active]="employee == selectedEmployee">
          <span class="badge badge-primary">{{employee.id}}</span> - {{ employee.name }} - {{employee.country}}
        </li>
      </ul>
    </div>

      <div class="row">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
              <h3>{{selectedEmployee.id == 0 ? "Insert A New Employee" : "Update An Employee"}}</h3>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.country" placeholder="Country" class="form-control">
            </div>
            <button (click)="addOrEdit()" class="btn btn-primary">
              Submit
            </button>
            <button *ngIf="selectedEmployee.id !== 0" class="btn btn-danger" (click)="delete()">
              DELETE
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
